<!--header contains message subject, requestor, date. -->
<table margin="0" cellSpacing="0" cellPadding="0" border="0" style="background:#D6D6E5;" width="100%">
  <tr>
    <td style="padding:8px 10px 8px 50px;">
      <table cellSpacing="0" cellPadding="0" border="0" margin="0" style="background:#D6D6E5;">
        <tr>
          <td style="color:#000; font:8pt Verdana,Arial,Helvetica,sans-serif; font-weight:bold;" width="100%">@@UniqueName@@ @@FCN.getHeaderMessage@@</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="padding:8px 0px 8px 50px; font:8pt Verdana,Arial,Helvetica,sans-serif;">
     <table cellSpacing="0" cellPadding="0" border="0" margin="0" style="background:#D6D6E5;">
        <tr>
          <td width="1%" nowrap align="left" style="padding-right:10px;">@@@ariba.htmlemail/Requester@@:</td>
          <td width="1%" nowrap align="left" style="padding-right:100px;">@@Requester.FCN.getMyName()@@</td>
          <td width="1%" nowrap align="left" style="padding-right:10px;">@@@ariba.htmlemail/Created@@:</td>
          <td width="1%" nowrap align="left">@@DFL.CreateDate@@</td>
          <td width=100>&nbsp</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
