<!-- generic fields related to new hire -->
<TABLE cellSpacing=5 cellPadding=0 border=0 style="font:8pt Verdana, Arial, Helvetica;">
  <TBODY>
      <TR>
        <TD align="left" nowrap width="1%">@@@ariba.htmlemail/RecrutierName@@:</TD>
        <TD align="left" width="400">@@RecrutierName@@</TD>
      </TR>
      <TR>
        <TD align="left" nowrap width="1%">@@@ariba.htmlemail/ManagerName@@:</TD>
        <TD align="left" width="400">@@ManagerName@@</TD>
      </TR>
      <TR>
        <TD align="left" nowrap width="1%">@@@ariba.htmlemail/WorkLocation@@:</TD>
        <TD align="left" width="400">@@WorkLocation@@</TD>
      </TR>
    </TBODY>
</TABLE>
<br /><br />
