  <!--header contains message subject, requestor, date. -->
  <div id="directorderheader">
  <table cellSpacing=0 cellPadding=0 width="98%" border=0 style="PADDING-LEFT: 8px">
      <tr>
          <td width="3%"></td>
        <td class="subject" width="97%">@@UniqueId@@ - @@Name@@ @@FCN.getHeaderMessage@@</td>
      </tr>
  </table>
  <table cellSpacing=0 cellPadding=0 border=0 style="margin-left:30px;">
      <tr>
        <td>@@@ariba.htmlemail/Requester@@:</td>
        <td style="padding-left:5px;">@@Requester.FCN.getMyName()@@</td>
        <td style="padding-left:50px;">@@@ariba.htmlemail/Created@@:</td>
        <td style="padding-left:5px;">@@DFL.CreateDate@@</td>
      </tr>
  </table>
  </div>
