<config>
<partition name="None"><feature index="0">acm(cxml,http,ws,file,cxml,http,ws,file,cxml,http,ws,file)</feature><feature index="1">acw(cxml,http,ws,file,cxml,http,ws,file,cxml,http,ws,file)</feature><feature index="2">aqs(cxml,http,ws,file,cxml,http,ws,file,cxml,http,ws,file)</feature><feature index="3">olap(cxml,http,ws,file,cxml,http,ws,file,cxml,http,ws,file)</feature><index>0</index><connection>Ariba</connection><variant>Plain</variant><template index="0">Common-basic</template><template index="1">CDOnly-basic</template><type>plain</type></partition><partition name="supplierdirect"><feature index="0">acm()</feature><feature index="1">acw()</feature><feature index="2">aqs()</feature><feature index="3">olap()</feature><index>1</index><connection>Ariba</connection><variant>Plain</variant><template index="0">Common-basic</template><template index="1">CDOnly-basic</template><type>supplierdirect</type></partition></config>
