<!-- user profile details -->
<TABLE cellSpacing=5 cellPadding=0 border=0 style="font:8pt Verdana, Arial, Helvetica;">
  <TBODY>
  <TR>
    <TD align="left" nowrap width="1%">@@@ariba.htmlemail/Name@@:</TD>
    <TD align="left" width="400">@@Requester.FCN.getMyName()@@</TD>
  </TR>
  <TR>
    <TD align="left" nowrap width="1%">@@@ariba.htmlemail/EmailAddress@@:</TD>
    <TD align="left" width="400">@@Details.EmailAddress@@</TD>
  </TR>
  <TR>
    <TD align="left" nowrap width="1%">@@@ariba.htmlemail/Supervisor@@:</TD>
    <TD align="left" width="400">@@Details.Supervisor.FCN.getMyName()@@</TD>
  </TR>
  <TR>
    <TD align="left" nowrap width="1%">@@@ariba.htmlemail/DelegateeIfAny@@:</TD>
    <TD align="left" width="400">@@Details.Delegation.Delegatee.FCN.getMyName()@@</TD>
  </TR>
  <TR>
    <TD align="left" nowrap width="1%">@@@ariba.htmlemail/DelegationStart@@:</TD>
    <TD align="left" width="400">@@Details.Delegation.StartDate@@</TD>
  </TR>
  <TR>
    <TD align="left" nowrap width="1%">@@@ariba.htmlemail/DelegationEnd@@:</TD>
    <TD align="left" width="400">@@Details.Delegation.EndDate@@</TD>
  </TR>
  <TR>
    <TD align="left" nowrap width="1%">@@@ariba.htmlemail/Reason@@:</TD>
    <TD align="left" width="400">@@Details.Delegation.Reason@@</TD>
  </TR>
  @@StartVector1=Details.UserProfileDetails.ScopedDelegations@@
  <TR>
    <TD align="left" nowrap width="1%">@@@ariba.htmlemail/DelegationScope@@:</TD>
    <TD align="left" width="400">@@DelegationScopeString@@</TD>
  </TR>
  <TR>
    <TD align="left" nowrap width="1%">@@@ariba.htmlemail/DelegateeIfAny@@:</TD>
    <TD align="left" width="400">@@Delegatee.FCN.getMyName()@@</TD>
  </TR>
  <TR>
    <TD align="left" nowrap width="1%">@@@ariba.htmlemail/DelegationStart@@:</TD>
    <TD align="left" width="400">@@StartDate@@</TD>
  </TR>
  <TR>
    <TD align="left" nowrap width="1%">@@@ariba.htmlemail/DelegationEnd@@:</TD>
    <TD align="left" width="400">@@EndDate@@</TD>
  </TR>
  <TR>
    <TD align="left" nowrap width="1%">@@@ariba.htmlemail/Reason@@:</TD>
    <TD align="left" width="400">@@Reason@@</TD>
  </TR>
  @@EndVector1@@
  </TBODY>
</TABLE>
