<!--Comments with integrated approval history ****** tag @@User.FCN.getApproveStatus@@ is just placeholder-->
<span style="padding:2px 3px 2px 3px; margin-bottom:10px; background:#E5E5EE;"><b>@@@ariba.htmlemail/Comments@@</b></span> <br />
@@StartVector2=Comments@@	  
    <div style="{font:8pt/15px Verdana, Arial, Helvetica; padding:3px 10px 3px 10px; background:url(comment.gif); margin:5px 0px 5px 0px; border-bottom:1px dotted #CCD; background:no-repeat 0px 5px;"><span style="color:#669; font:normal 10px/15px Verdana, Arial, Helvetica;">@@DFL.Date@@</span><br />
@@User.FCN.getMyName()@@ - @@User.FCN.getApproveStatus@@<br />@@FCN.getBody()@@
@@StartVector3=Comments@@ 
      <div style="font:8pt/15px Verdana, Arial, Helvetica; padding:3px 10px 0px 40px; background:url(connect.gif); background:no-repeat 27px 8px;"><span style="color:#669; font:normal 10px/15px Verdana, Arial, Helvetica;">@@DFL.Date@@</span><br />
@@User.FCN.getMyName()@@ - @@User.FCN.getApproveStatus@@<br />@@FCN.getBody()@@
@@StartVector4=Comments@@ 
        <div style="font:8pt/15px Verdana, Arial, Helvetica; padding:3px 10px 0px 40px; background:url(connect.gif); background:no-repeat 27px 8px;"><span style="color:#669; font:normal 10px/15px Verdana, Arial, Helvetica;">@@DFL.Date@@</span><br />
@@User.FCN.getMyName()@@ - @@User.FCN.getApproveStatus@@<br />@@FCN.getBody()@@
@@StartVector5=Comments@@ 
          <div style="font:8pt/15px Verdana, Arial, Helvetica; padding:3px 10px 0px 40px; background:url(connect.gif); background:no-repeat 27px 8px;"><span style="color:#669; font:normal 10px/15px Verdana, Arial, Helvetica;">@@DFL.Date@@</span><br />
@@User.FCN.getMyName()@@ - @@User.FCN.getApproveStatus@@<br />@@FCN.getBody()@@</div>
@@EndVector5@@</div>
@@EndVector4@@</div>
@@EndVector3@@</div>
@@EndVector2@@ 
