<span style="padding:2px 3px 10px 0px; margin-bottom:10px; font:8pt Verdana, Arial, Helvetica; font-weight:bold;"><b>@@@ariba.htmlemail/Changes@@</b></span>
    <table width="98%" border=0 cellPadding=3 cellSpacing=2>
      <tr style="color:#000; font:8pt Verdana, Arial, Helvetica; font-weight:bold; padding:3px 5px 1px 5px;"> 
        <th align="left">@@@ariba.htmlemail/FieldName@@</th>
        <th align="left">@@@ariba.htmlemail/Summary@@</th>
      </tr>
      @@StartVector1=FCN.getCurrentChanges@@ 
      <tr style="vertical-align:top; color:#000; font:8pt Verdana, Arial, Helvetica; padding:2px 5px 2px 5px;"> 
        <td>@@FieldName@@</td>
        <td>@@Summary@@</td>   
      </tr>
      @@EndVector1@@ 
    </table><br /><br />
