<!--Comments Section -->
<span style="margin-top:10px; margin-bottom:10px; font:8pt Verdana, Arial, Helvetica; font-weight:bold;"><b>@@@ariba.htmlemail/Comments@@</b></span> <br />
@@StartVector2=Comments@@	  
    <div style="font:8pt/15px Verdana, Arial, Helvetica; padding:3px 10px 3px 10px; background:url(comment.gif); margin:5px 0px 5px 0px; border-bottom:1px dotted #CCD; background:no-repeat 0px 5px;"><span style="font:11px/15px Verdana, Arial, Helvetica; font-style:italic; color:#F666666;">@@DFL.Date@@: </span>
@@User.FCN.getMyName()@@ - @@FCN.getBody()@@
@@StartVector3=Comments@@ 
      <div style="font:8pt/15px Verdana, Arial, Helvetica; padding:3px 10px 0px 40px; background:url(connect.gif); background:no-repeat 27px 8px;"><span style="font:11px/15px Verdana, Arial, Helvetica; font-style:italic; color:#F666666;">@@DFL.Date@@: </span>
@@User.FCN.getMyName()@@ - @@FCN.getBody()@@
@@StartVector4=Comments@@ 
        <div style="font:8pt/15px Verdana, Arial, Helvetica; padding:3px 10px 0px 40px; background:url(connect.gif); background:no-repeat 27px 8px;"><span style="font:11px/15px Verdana, Arial, Helvetica; font-style:italic; color:#F666666;">@@DFL.Date@@: </span>
@@User.FCN.getMyName()@@ - @@FCN.getBody()@@
@@StartVector5=Comments@@ 
          <div style="font:8pt/15px Verdana, Arial, Helvetica; padding:3px 10px 0px 40px; background:url(connect.gif); background:no-repeat 27px 8px;"><span style="font:11px/15px Verdana, Arial, Helvetica; font-style:italic; color:#F666666;">@@DFL.Date@@: </span>
@@User.FCN.getMyName()@@ - @@FCN.getBody()@@</div>
@@EndVector5@@</div>
@@EndVector4@@</div>
@@EndVector3@@</div>
@@EndVector2@@ 
