<table margin="0" border="0" cellspacing="0" cellpadding="0" style="background:#E5E5EE;" width="100%">
  <tr>
    <td width="1%" nowrap border="0" style="padding:7px 10px 7px 50px;">
      <table margin="0" border="0" cellspacing="0" cellpadding="0" style="background:#E5E5EE;">
        <tr>
          <td nowrap style="color:#336; font:normal 8pt Verdana, Arial, Helvetica; float:left;">@@@ariba.htmlemail/Actions@@:</td>
        </tr>
      </table>
    </td>
    <td width="1%" nowrap border="0" style="background:#E5E5EE; padding:7px 2px 7px 2px;">
      <table cellspacing=0 cellpadding="0" style="border:1px solid #000000; border-top:1px solid #FFF; border-right:1px solid #336; border-bottom:1px solid #336; border-left:1px solid #FFF; background:#aaabd4;">
        <tr>
          <td nowrap align="center" style="padding:1px 5px 1px 5px; font:normal 8pt Verdana, Arial, Helvetica; text-decoration:none; cursor:pointer; cursor:hand;"><a href="@@FCN.getWebJumperURL()@@" style="text-decoration:none; color:#336;">@@@ariba.htmlemail/Open@@</a>
          </td>
        </tr>
      </table>
    </td>
    <td width="400">&nbsp</td>
  </tr>
</table>
