<!--Header-->

    <table width="98%" border=0 cellPadding=2 cellSpacing=3>
      <tr style="border:0px; color:#000; font:8pt Verdana, Arial, Helvetica; font-weight:bold;  background:#E5E5EE;">
        <th align="left">@@@ariba.htmlemail/SupplierInvoiceNumber@@</th>
        <th align="left">@@@ariba.htmlemail/InvoiceDate@@</th>
      </tr>

      <tr style="vertical-align:top; border:0px; color:#000; font:8pt Verdana, Arial, Helvetica;">
        <td>@@InvoiceNumber@@</td>
        <td>@@DFS.InvoiceDate@@</td>
      </tr>
    </table>
<br /><br />
