<!--this is an include file specific to travelprofile notifications -->
<!-- Business Information -->
<span style="font:8pt Verdana, Arial, Helvetica; font-weight:bold; margin-bottom:10px;"><b>@@@ariba.htmlemail/BusinessInformation@@</b></span><br />
<TABLE cellSpacing=5 cellPadding=0 border=0 style="font:8pt Verdana, Arial, Helvetica;">
  <TBODY>
      <TR>
        <TD align="left" width="1%" nowrap>@@@ariba.htmlemail/Location@@:</TD>
        <TD align="left" width="400">@@Location.Name@@</TD>
      </TR>
      <TR>
        <TD align="left" width="1%" nowrap>@@@ariba.htmlemail/DeliveryOfTickets@@:</TD>
        <TD align="left" width="400">@@DeliveryOfTickets@@</TD>
      </TR>
      <TR>
        <TD align="left" width="1%" nowrap>@@@ariba.htmlemail/CreditCard@@:</TD>
        <TD align="left" width="400">@@CreditCard.Issuer@@</TD>
      </TR>
      <TR>
        <TD align="left" width="1%" nowrap>@@@ariba.htmlemail/CreditCardNumber@@:</TD>
        <TD align="left" width="400">@@CreditCard.CardNumber@@</TD>
      </TR>
      <TR>
        <TD align="left" width="1%" nowrap>@@@ariba.htmlemail/CreditCardHolder@@:</TD>
        <TD align="left" width="400">@@CreditCard.CardHolderName@@</TD>
      </TR>
      <TR>
        <TD align="left" width="1%" nowrap>@@@ariba.htmlemail/ExpirationDate@@:</TD>
        <TD align="left" width="400">@@DFS.CreditCard.ExpirationDate@@</TD>
      </TR>
   </TBODY>
</TABLE>
<br />

<!-- Travel Information -->
<span style="font:8pt Verdana, Arial, Helvetica; font-weight:bold; margin-bottom:10px;"><b>@@@ariba.htmlemail/TravelPreferences@@</b></span><br />
<TABLE cellSpacing=5 cellPadding=0 border=0 style="font:8pt Verdana, Arial, Helvetica;">
  <TBODY>
      <TR>
        <TD align="left" width="1%" nowrap>@@@ariba.htmlemail/AirlineSeating@@:</TD>
        <TD align="left" width="400">@@Seating@@</TD>
      </TR>
      <TR>
        <TD align="left" width="1%" nowrap>@@@ariba.htmlemail/FrequestFlierMembership@@:</TD>
        <TD align="left" width="400">@@Frequent@@</TD>
      </TR>
      <TR>
        <TD align="left" width="1%" nowrap>@@@ariba.htmlemail/SpecialMeal@@:</TD>
        <TD align="left" width="400">@@SpecialMeals@@</TD>
      </TR>
  </TBODY>
</TABLE>
<br />

<!-- Other Preferences -->
<span style="font:8pt Verdana, Arial, Helvetica; font-weight:bold; margin-bottom:10px;"><b>@@@ariba.htmlemail/OtherPreferences@@</b></span><br />
<TABLE cellSpacing=5 cellPadding=0 border=0 style="font:8pt Verdana, Arial, Helvetica;">
  <TBODY>
      <TR>
        <TD align="left" width="1%" nowrap>@@@ariba.htmlemail/Car@@:</TD>
        <TD align="left" width="400">@@Car@@</TD>
      </TR>
      <TR>
        <TD align="left" width="1%" nowrap>@@@ariba.htmlemail/Airport@@:</TD>
        <TD align="left" width="400">@@Airport@@</TD>
      </TR>
      <TR>
        <TD align="left" width="1%" nowrap>@@@ariba.htmlemail/Gym@@:</TD>
        <TD align="left" width="400">@@Gymr@@</TD>
      </TR>
      <TR>
        <TD align="left" width="1%" nowrap>@@@ariba.htmlemail/Pool@@:</TD>
        <TD align="left" width="400">@@Pool@@</TD>
      </TR>
      <TR>
        <TD align="left" width="1%" nowrap>@@@ariba.htmlemail/Smoking@@:</TD>
        <TD align="left" width="400">@@Smoking@@</TD>
      </TR>
      <TR>
        <TD align="left" width="1%" nowrap>@@@ariba.htmlemail/Bedsize@@:</TD>
        <TD align="left" width="400">@@Bedsize@@</TD>
      </TR>
   </TBODY>
</TABLE>
<br />
